---
layout: default
gallery:
   -
      colomn-size: col-4
      aspect-ratio: portrait
      gallery_image: /images/the-sleep-co-4.jpg
   -
      colomn-size: col-4
      aspect-ratio: portrait
      gallery_image: /images/the-sleep-co-2.jpg
   -
      colomn-size: col-4
      aspect-ratio: portrait
      gallery_image: /images/the-sleep-co-3.jpg
---
<!------------------------- Header Banner -->
<header class="padded grid text-center tall-80">
    
    <!-- includes the file header-nav -->
    {% include header-nav.html %}

    <div class="col-12">
      <h3 class="font-weight-extrabold editable" data-aos="fade-in">
          look <span class="featured-text">at</span> that
      </h3>
      <h1 class="font-weight-normal editable" data-aos="fade-up"> the ultimate matress solution </h1>
    </div>
</header>

<section>
    <div class="galery grid padded">

    {% for item in page.gallery%}
      <div class="{{item.colomn-size}} padded-05"> 
        <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.gallery_image}}');">
        </div>
      </div>
    {% endfor %}

    </div>
</section>


  <!-- 
  <div class="col-4">
    <div class="bg-image bg-image2 portrait"></div>
  </div>
  <div class="col-4">
    <div class="bg-image bg-image1 portrait"></div>
  </div>
  <div class="col-4">
    <div class="bg-image bg-image5 portrait"></div>
  </div>
  <div class="col-6">
    <div class="bg-image bg-image3 landscape"></div>
  </div>
  <div class="col-6">
    <div class="bg-image bg-image4 landscape"></div>
  </div>
  <div class="col-6">
    <div class="bg-image bg-image5 landscape"></div>
  </div>
  <div class="col-6">
    <div class="bg-image bg-image6 landscape"></div>
  </div> -->