---
layout: default
featured:
 - icon: fa-brands fa-soundcloud 
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aliquam corporis, hic quis assumenda quisquam, vitae voluptates exercitationem impedit eius sapiente modi dolores quaerat beatae molestiae quo, iusto numquam debitis.
 - icon: fa-solid fa-smog 
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aliquam corporis, hic quis assumenda quisquam, vitae voluptates exercitationem impedit eius sapiente modi dolores quaerat beatae molestiae quo, iusto numquam debitis.
 - icon: fa-solid fa-cloud-showers-water 
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aliquam corporis, hic quis assumenda quisquam, vitae voluptates exercitationem impedit eius sapiente modi dolores quaerat beatae molestiae quo, iusto numquam debitis.
 - icon: fa-solid fa-cloud-meatball 
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aliquam corporis, hic quis assumenda quisquam, vitae voluptates exercitationem impedit eius sapiente modi dolores quaerat beatae molestiae quo, iusto numquam debitis.
---

  <!------------------------- Header Banner -->
  <header class="padded grid text-center tall-100">
    
    <!-- includes the file header-nav -->
    {% include header-nav.html %}

    <div class="col-12">
      <h3 class="font-weight-extrabold editable"> <span class="featured-text"> sleep</span> like a baby </h3>
      <h1 class="font-weight-normal editable"> the ultimate matress solution </h1>
    </div>
  </header>
  
  <!------------------------- Galerie setion -->
  <section class="grid">
    <div class="padded col-6-middle">
      <h2>built to last a <span class="featured-text"> lifetime </span></h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum ut hic temporibus iure, ullam nihil quod provident consequatur exercitationem nesciunt veritatis dolor laborum vitae, atque sequi, cupiditate quidem commodi odit.</p>
    </div>
    <div class="bg-image bg-bed col-6 tall-70">
      <!-- background image bed -->
    </div>
    <div class="bg-image bg-dog col-6 tall-70">
      <!-- backgroundimage mops -->
    </div>
    <div class="padded col-6-middle">
      <h2> so <span class="featured-text">soft</span> you'll melt</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit tenetur asperiores at consectetur quibusdam deleniti, quod quae neque quasi officiis, eveniet itaque fuga ad sunt in quia corrupti, dolores sequi!</p>
    </div>
</section>

<!-------------------------------- features section -->
<section class="padded grid-center bg-dark">
  <div class="padded-small col-12 text-center"> 
    <h2> <span class="featured-text"> features</span> you will love</h2>
  </div>
  {% for item in page.featured %}
  <div class="padded-small col-3">
    <i class=" {{item.icon}} fas"></i>
    <p> {{item.description}} </p>
  </div>
  {% endfor %}
</section>

<!-------------------------------- Image section -->
<section class="padded text-center bg-image bg-pillow tall-70 grid">
  <div class="col-12-middle">
    <h3 class="text-big font-weight-extrabold">
      <span class="text-sm font-weight-normal"> never underestimate the power of</span>
      <br> a good night's <span class="white-text">sleep</span> 
    </h3>
  </div>
</section>

<!-------------------------------- testimonial section -->
<section class="padded grid padded-large">
  <div class="col-1 text-right">
    <span class="quote-icon">“</span>
  </div>
  <div class="col-10 text-center"> 
    <p class="text-medium font-weight-light"> I've never experienced sleep like this. Omg I really love this matrress I want to buy one for every member of the family.</p>
    <p class="subtitle"> - A very happy customer</p>
  </div>
  <div class="col-1"> 
    <!-- text-left is default value dont need to put here -->
    <span class="quote-icon">	”</span>
  </div>
</section>

