---
layout: default
cards:
 - heading: A small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam minus voluptas recusandae quasi vero, sapiente, ut perferendis quibusdam minima delectus, eos expedita esse! Unde reprehenderit voluptates eius ipsa culpa exercitationem!
   featured_image: /images/the-sleep-co-4.jpg
 - heading: A small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam minus voluptas recusandae quasi vero, sapiente, ut perferendis quibusdam minima delectus, eos expedita esse! Unde reprehenderit voluptates eius ipsa culpa exercitationem!
   featured_image: /images/the-sleep-co-1.jpg
 - heading: A small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam minus voluptas recusandae quasi vero, sapiente, ut perferendis quibusdam minima delectus, eos expedita esse! Unde reprehenderit voluptates eius ipsa culpa exercitationem!
   featured_image: /images/the-sleep-co-2.jpg
---

<!-- THIS IS TE BODY, all th econtent goes into the body-->
<body>
    
  <header class="padded grid text-center tall-80">
    {% include header-nav.html %}
    <div class="col-12-middle">
      <h3 class="font-weight-extrabold editable"> <span class="featured-text"> addictively</span> soft </h3>
      <h1 class="font-weight-normal editable"> where you sleep like a baby </h1>
    </div>
  </header>

<!-- ----------------------product grid -->
  <section class="padded grid bg-dark">
    <div class="padded-small col-12 text-center"> 
      <h2> <span class="featured-text"> products</span> you will love</h2>
    </div>
    <div class="padded-small col-3">
      <h3> little heading</h3>
      <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aliquam corporis, hic quis assumenda quisquam, vitae voluptates exercitationem impedit eius sapiente modi dolores quaerat beatae molestiae quo, iusto numquam debitis.</p>
    </div>
    <div class="padded-small col-3">
      <h3> little heading</h3>
      <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aliquam corporis, hic quis assumenda quisquam, vitae voluptates exercitationem impedit eius sapiente modi dolores quaerat beatae molestiae quo, iusto numquam debitis.</p>
    </div>
    <div class="padded-small col-3">
      <h3> little heading</h3>
      <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aliquam corporis, hic quis assumenda quisquam, vitae voluptates exercitationem impedit eius sapiente modi dolores quaerat beatae molestiae quo, iusto numquam debitis.</p>
    </div>
    <div class="padded-small col-3">
      <h3> little heading</h3>
      <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aliquam corporis, hic quis assumenda quisquam, vitae voluptates exercitationem impedit eius sapiente modi dolores quaerat beatae molestiae quo, iusto numquam debitis.</p>
    </div>
  </section>

<!-- cards -->
  <section class="grid padded">
    
    {% for item in page.cards %}
    <div class="col-4-sm-12">
        <div class="card padded-small">
            <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
            <div class="padded-1">
                <h3> {{item.heading}}</h3>
                <p> {{item.description}} </p>
            </div>
        </div>
    </div>
    {% endfor %}
  </section>

<!-------------------------------- banner section -->
  <section class="padded text-center bg-dark tall-70 grid">
      <div class="col-12-middle">
          <h3 class="text-big font-weight-extrabold">
          <span class="text-sm font-weight-normal"> spent over 259$ for</span>
          <br> free <span class="featured-text">express shipping</span> 
          </h3>
      </div>
  </section>

<!-- image grid -->
  <section class="grid">
      <div class="padded col-6-middle">
        <h2>built to last a <span class="featured-text"> lifetime </span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum ut hic temporibus iure, ullam nihil quod provident consequatur exercitationem nesciunt veritatis dolor laborum vitae, atque sequi, cupiditate quidem commodi odit.</p>
      </div>
      <div class="bg-image bg-bed col-6 tall-70">
        <!-- background image bed -->
      </div>
      <div class="bg-image bg-dog col-6 tall-70">
        <!-- backgroundimage mops -->
      </div>
      <div class="padded col-6-middle">
        <h2> so <span class="featured-text">soft</span> you'll melt</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit tenetur asperiores at consectetur quibusdam deleniti, quod quae neque quasi officiis, eveniet itaque fuga ad sunt in quia corrupti, dolores sequi!</p>
      </div>
      <div class="padded col-6-middle">
          <h2>built to last a <span class="featured-text"> lifetime </span></h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum ut hic temporibus iure, ullam nihil quod provident consequatur exercitationem nesciunt veritatis dolor laborum vitae, atque sequi, cupiditate quidem commodi odit.</p>
      </div>
      <div class="bg-image bg-bed col-6 tall-70">
          <!-- background image bed -->
      </div>
  </section>
