*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="col-"],
[class*="col_"],
[class~="col"] {
  padding: 0;
}

/* Temporary style  */
/* section{
    padding: 0.5rem;
    border: 1px solid rgb(220,220,220);
} */

/* ------------------------------------ universal styles */

/* imagestyles */
.bg-image{
    background-size: cover;
    min-height: 20vh;
}
.padded         {padding: 5%;}
.padded-large   {padding: 10%;}
.padded-small   {padding: 1rem;}

.bg-dark{
    background-color: #192B37;
    color: white;
}

/* textstyles */
.featured-text{ color: #FFBE00;}
.white-text{ color: white;}

.text-sm {font-size: 1.5rem;}
.text-medium {
    font-size: 2rem;
    line-height: 1.1;
}
.text-big {font-size: 4.5rem;}

.subtitle{
    font-size: 1.2rem;
    color: rgb(120 120 125);
}
.quote-icon{
    font-size: 6rem;
    color: rgb(120 120 125);
    line-height: 1;
}   

.font-weight-light{ font-weight: 200;}
.font-weight-normal{ font-weight: 400;}
.font-weight-bold{ font-weight: 600;}
.font-weight-extrabold{ font-weight: 800;}

/* ----------------------------typographie styles */
/* text alignment */
.text-left      { text-align: left;     }
.text-center    { text-align: center;   }
.text-right     { text-align: right;    }
/* universal heights */
.tall-50    {min-height: 50vh; }
.tall-60    {min-height: 60vh; }
.tall-70    {min-height: 70vh; }
.tall-80    {min-height: 80vh; }
.tall-90    {min-height: 90vh; }
.tall-100   {min-height: 100vh;}


body{
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}
h2{ 
    font-size: 2.5rem;
    /* if the site is suer small and there are two lines always check lineheight first and then add margin */
    line-height: 1.1;
    margin-bottom: 1rem;
}
h3{
    line-height: 1.1;
}

p{
    font-weight: 200;
    line-height: 1.5;
    /* dass 2 paragraphs nicht zusammenkleben  */
    margin-bottom: 1rem;
}

p:last-child{
    /* im lastchild selector margin bottom null setzen, damit am ende von texten nicht zusätzlicher platz bleibt */
    margin-bottom: 0;
}
a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}
a:hover {
    color: #FFBE00;
}

/* --------------------------------Header and footer styles */
header{
    background-image: url(images/the-sleep-co-\(4\).jpg);
    background-size: cover;
    background-position: center;
}

header h3{
    font-size:5.5rem;
    line-height: 1;
}

footer a{
    border: none;
}

/* Backgroundimages */
.bg-bed{background-image: url(images/the-sleep-co-\(3\).jpg);}
.bg-dog{
    background-image: url(images/the-sleep-co-\(1\).jpg);
    background-position: 50% 35%;
}
.bg-pillow{
    background-image: url(images/the-sleep-co-\(2\).jpg);
    background-position: 50% 57%;
}
.bg-sheets{background-image: url(images/the-sleep-co-\(4\).jpg);}

/* icon grid */
.fas{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.navigation{
    padding:1%;

}

.navlinks h2{
    font-size: 2rem;
    padding: 1% 4%;
    margin: 0;
    color: #FFBE00;
}

.navrechts {
    font-size: 1rem;
    text-align: right;
    padding: 1% 4%;
}

.navrechts a{
    padding: 0 2%;
}

.noborder a{
    text-decoration: none;
    border: none;
}