<div class="col-12-top grid navigation">
    <div class="col-5_sm-11 navlinks"> 
      <h2> The sleep co </h2>      
    </div>
    <nav class="col-7_sm-12 navrechts noborder sm-text-center hide-sm">
      <a href="/index.html">Home</a>
      <a href="/about.html">About</a>
      <a href="/contact.html">Contact</a>
      <a href="/products.html">Products</a>
    </nav>

    <div class="col-1 show-sm">
      <div class="hamburger-button">
        <i class="fa-solid fa-burger"></i>
      </div>
    </div>
</div>

<nav class="mobile-menu bg-dark padded">
  <a href="/index.html">Home</a>
  <a href="/about.html">About</a>
  <a href="/contact.html">Contact</a>
  <a href="/products.html">Products</a>
</nav>