<!-------------------------------- testimonial section -->
<section class="padded grid padded-large">
    <div class="col-1 text-right">
      <span class="quote-icon">“</span>
    </div>
    <div class="col-10 text-center"> 
      <p class="text-medium font-weight-light"> I've never experienced sleep like this. Omg I really love this matrress I want to buy one for every member of the family.</p>
      <p class="subtitle"> - A very happy customer</p>
    </div>
    <div class="col-1"> 
      <!-- text-left is default value dont need to put here -->
      <span class="quote-icon">	”</span>
    </div>
  </section>