<!DOCTYPE html>
<html>

<head>
  <!-- including all fonts, gridlex... in head.html -->
  {% include head.html %}
</head>


<!-- THIS IS TE BODY, all th econtent goes into the body-->
<body>
    {% include inline-styles %}
    {{content}}

<!-------------------------------- footer section -->
<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-4-bottom">
        <h2>Let's <br> <span class="featured-text">connect</span> </h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi, perspiciatis accusantium fuga nemo sit? Debitis voluptatibus architecto fugiat obcaecati? Voluptate culpa similique ad doloribus possimus saepe non! Recusandae, totam?</p>
    </div>
    <div class="col-6-bottom">
      <p> <strong>Call:</strong> <a href="tel:#"> 0505 050505 </a></p>
      <p> <strong>Email:</strong> <a href="mailto:#">jemans@example.com </a></p>
      <p> <strong>Store:</strong> 55 Main Street</p>
      <p> <strong>Instagram:</strong> <a href="https://www.instagram.com/thesleepco">@thesleepco </a></p>
    </div>
</footer>
  
  <!-- including all JS, JQuerry... -->
  {% include body-scripts.html %}

</body>
</html>